$dark-color-text: #6c2078;
$light-color-bg: #f5cdff;
$dark-color-bg: #a102c9;

.info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  margin: 2rem;
  padding: 2rem;
  .picture {
    border-radius: 10px;
    width: 40%;
    height: 100%;
  }
  .info-top {
    display: inline;
    margin-left: 1rem;
  }
  .info-bottom {
    color: rgb(112, 50, 117);
    font-weight: bolder;
    margin-top: 1rem;
  }
  h3 {
    font-size: medium;
  }

  .book {
    margin-top: 3.3rem;
  }
}
.card-border {
  background: rgb(254, 245, 255);
  box-shadow: 0 2px 20px #e4b8ed4d;
  border-radius: 10px;
}

.card-dem {
  margin: 2rem;
  padding: 2rem;
}

.myButton {
	background-color:$light-color-bg;
	border-radius:10px;
	border:1px solid $light-color-bg;
	display:inline-block;
	cursor:pointer;
	color: $dark-color-text;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:11px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#a456b8;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {
	background-color:$dark-color-bg;
	border-radius:10px;
	border:1px solid $dark-color-bg;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:11px 31px;
	text-decoration:none;
}
.myButton2:hover {
	background-color:#a456b8;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.ghost-btn {
  color: $dark-color-text;
}
